<div class="table-responsive">
	<table id="turnoslist"
		class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Estado</th>
				<th scope="col">Fecha</th>
				<th scope="col">Asignado</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tur: ${listaturnos}">
				<td th:text="${tur.idTurno}"></td>
				<td th:text="${tur.estadoTurno}"></td>
				<td th:text="${tur.fechaTurno}"></td>
				<td th:text="${tur.idUsuario}"></td>
				<td><a href="#" th:href="@{'/editUser/'+${tur.idTurno}}"><i class="fas fa-edit"></i></a> |
				 <a href="#" th:onclick="'javascript:confirmDelete(\''+${tur.idTurno}+'\');'">
				 <i	class="fas fa-user-times"></i></a>
				 </td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
    window.location = "deleteUser/"+id;
}
</script>